vendor
.idea
logs
doctrineProxies
tests/fake_smtp_server/received-mails
tests/mysql_mini_server_11/udrive/data/drive.txt
tests/mysql_mini_server_11/udrive/data/mysql_mini.err
tests/mysql_mini_server_11/udrive/data/mysql_mini.pid
tests/mysql_mini_server_11/udrive/data/spreadsheet-etl/*.MYI
tests/mysql_mini_server_11/udrive/data/spreadsheet-etl/*.MYD